body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid #6d6d6d;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;

    /* Fondo oceánico */
  background-image: url('assets/ocean.png'); /* tu imagen de agua */
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}


/* Tiburón gif */
.shark {
  position: absolute;
  width: 160px;
  height: auto;
}

/* Patitos que cambian a rojo */
.duck {
  position: absolute;
  width: 40px;
  height: 40px;
  transition: filter 0.2s, transform 0.2s, opacity 0.2s;
}

.duck.eaten {
  filter: hue-rotate(0deg) saturate(10) brightness(1); /* lo hace rojo intenso */
  transform: scale(0.5);
  opacity: 0.7;
}

/* Marcador */
#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}